<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Edit </title>
</head>
<body>

<a href="/MyProj2/people">All users</a>
<br/>

<form th:method="patch" th:action="@{/people/{id}(id=${people.getId()})}" th:object="${people}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
    <br/>
    <input type="submit" value="Save"/>
</form>

</body>
</html>